@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

:root {
  --yellow: #f8ef02;
  --cyan: #00ffd2;
  --red: #ff003c;
  --blue: #136377;
  --green: #446d44;
  --purple: purple;
  --black: #000;
  --white: #fff;
  --dark: #333;

  /*theme variables*/
  --dark: #001517;
  --dark-gray: #002B2E;
  --medium-gray: #004044;
  --light-gray: #00565C;
  --yellow: #F2FB06;
  /*theme variables*/
}

.cyber-title-box {
  display: flex;
  align-items: center;
  position: relative;
  background: url("title-box.svg") no-repeat;
  background-size: contain;
  height: 70px;
  padding: 1rem;
  width: fit-content;
  color: var(--yellow);
  font-size: 2.5rem !important;
}

/* .cyber-desc-box{
  display: flex;
  position: relative;
  background: url("box-element-desktop.svg") no-repeat;
  background-size:cover;
  padding: 1rem;
} */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: 'Oxanium' !important;
  background-color: var(--dark) !important;
}

body.nav-open {
  overflow: hidden;
}

section {
  top: -3.5vh;
}

/*Navbar*/
.navbar-section {
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: #00000084;
  color: #fff;
  padding-top: 1rem;
  text-align: center;
  top: 0vh;
}

/*.logo{
  width: 40%;
  display: inline-block;
  left: 0;
}
.logo img{
  width: 10rem;
}*/

.nav-menu {
  display: inline-block;
  vertical-align: middle;
  right: 0;
}

.nav-menu.active {
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  backdrop-filter: blur(10px);
  background-color: #00000084;
  z-index: 5;
  animation: slideNav 0.2s ease-in-out;
}

.nav-menu .nav-toggler {
  height: 40px;
  width: 45px;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 20px;
  display: none;
  z-index: 10;
  transition: all 0.3s ease;
}

.nav-menu .nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--yellow);
  display: inline-block;
  position: relative;
  top: -2px;
  left: -7px;
}

.nav-menu .nav-toggler.open span {
  background-color: transparent;
}

.nav-menu .nav-toggler span::before {
  content: '';
  height: 2px;
  width: 18px;
  background: var(--yellow);
  position: absolute;
  top: -6px;
  left: 0;
}

.nav-menu .nav-toggler.open span::before {
  transform: rotate(45deg);
  top: 0;
}

.nav-menu .nav-toggler span::after {
  content: '';
  height: 2px;
  width: 18px;
  background: var(--yellow);
  position: absolute;
  top: 6px;
  left: 0;
}

.nav-menu .nav-toggler.open span::after {
  transform: rotate(-45deg);
  top: 0;
}

.nav-menu li {
  display: inline;
  padding: 1rem;
  white-space: nowrap;
}

.nav-list.active {
  display: flex;
  flex-direction: column;

}

@keyframes slideNav {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.nav-item:hover {
  background-color: rgb(160, 160, 0);
  transition: 0.4s;
}

/*timer*/

.timer-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 5px;
  margin-top: 57vh;
  align-items: center;
  color: yellow;
  z-index: 1;
  position: absolute;
}

.timer-box {
  background-color: #0fefff71;
  backdrop-filter: blur(10px);
  width: fit-content;
  padding: 1rem;
}

.timer-box.cyber-tile {
  padding: 0;
}

.countdown-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5rem;
}

.timer-div {
  display: inline-block;
  padding: 0.5rem;
}

.timer-div.cyber-tile {
  background-color: var(--blue);
  color: var(--yellow);
  width: 70px;
  height: fit-content;
  padding: 0.5rem;
}

.timer-div.cyber-tile h1 {
  font-size: 28px;
}

.timer-div p {
  margin-bottom: 0;
  font-size: 16px;
}

.timer-caption {
  font-size: 25px;
  width: fit-content;
  margin: 0.5rem auto;
}

.countdown {
  padding-bottom: 0;
  margin: 0;
  color: red;
  vertical-align: middle;
}

.countdown p {
  padding-top: 1rem;
  vertical-align: middle;
}

/*hero*/

.parallax-container {
  top: 0;
  position: relative;
  height: 100vh;
  /* Adjust the height as needed */
  overflow: hidden;
}

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* Full viewport height for each layer */
  background-size: cover;
  background-position: center;
  will-change: transform;
  /*transition: transform 0.1s ease-out; /* Smooth scrolling */
}

.background-layer {
  background-image: url('back.png');
}

.middle-layer {
  background-image: url('logo-main.png');
}

.front-layer {
  background-image: url('front.png');
}

.buttons {
  position: absolute;
  top: 75vh;
  z-index: 1;
  text-align: center;
  width: 100%;
}

.register {
  margin: 1rem;
}

.about-seperator {
  z-index: 1;
  top: -3.5vh;
  height: .25rem;
  position: absolute;
}

.about {
  display: inline-block;
  background-image: url("dots.svg");
  background: linear-gradient(#004044, #001517);
  padding: 2.5rem;
  padding-top: 0;
  align-content: center;
  background-position: center;
  /* Center the image */
  background-size: cover;
}

.about-img {
  width: 100%;
  padding: 1rem;
  vertical-align: middle;
}

.about-picture {
  display: inline-block;
}

.about-info {
  display: inline-block;
  text-align: justify;
  justify-content: center !important;
  padding: 1rem;
  width: 100%;
}

.about-info h2 {
  width: 80vw;
}

.about-info p {
  /* background-color: #ffffff7d; */
  padding: 1rem;
  width: 100%;
  color: #ffffff;
  /* background-image: url("Box-element.svg"); */
}

.about-info p.desc-container {
  max-width: 100vw !important;
  color: #fff;
}

.stat-info {
  margin: 1rem;
  padding: 1rem !important;
  background: url('square-box.svg') no-repeat;
  background-size: contain;
  width: 12rem;
  min-height: fit-content;
  box-sizing: border-box;
}

.timeline-section {
  background-image: url(lines.svg);
  background-size: 50rem;
  background-repeat: repeat;
}

.day {
  background-color: var(--black);
  color: #fff;
  border: 3px solid #fff;
  left: 2.5rem;
  padding: 0.5rem;
  display: inline;
}

.timeline {
  padding: 40px 0px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 40px;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 40px;
  left: 65px;
  width: 3px;
  height: calc(100% - 120px);
  background: #fff;
}

.timeline .column {
  margin: 40px 40px 40px 120px;
}

.timeline .column .title h1 {
  font-size: 50px;
  color: #fff;
  letter-spacing: 3px;
}

.timeline .column .title h1:before {
  content: "";
  position: absolute;
  left: -62px;
  top: 45px;
  width: 1rem;
  height: 1rem;
  background: #000;
  border: 3px solid #fff;
}

.timeline .column .title h2 {
  margin-top: -20px;
  font-size: 33px;
  color: #fff;
}

.timeline .column .description p {
  font-size: 13px;
  line-height: 20px;
  margin-left: 20px;
  margin-top: 10px;
  color: #fff;
}

.timeline .column .description {
  border-left: 1px solid #ffffff;
}

.main {
  width: 80%;
  margin-left: 10%;
  margin-top: 80px;
}

.main h1 {
  font-size: 80px;
  line-height: 60px;
}

.main p {
  font-size: 13px;
  line-height: 20px;
  text-align: right;
}

.timeline-h {
  padding: 2.5rem 10rem;
  padding-bottom: 0;
  margin-bottom: -20rem;
}




.prize-section {
  background-image: url("lines.svg");
  padding: 2.5rem;
  padding-top: 0;
  align-content: center;
  background-position: center;
  /* Center the image */
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.prize-section h2 {
  text-align: center;
}

.prize-row {
  width: 100%;
  margin-top: 2rem;
}

.prize {
  margin: 1rem;
  padding: 1rem !important;
}

.prize-img {
  width: 75% !important;
}

.first-prize {
  top: -2rem;
}

.other-prize {
  top: 2rem;
}


.tracks-section {
  background-image: url(dots.svg);
  background-size: 50rem;
  background-repeat: repeat;
  background-size: cover;
}

.tracks-section h2 {
  text-align: center;
}




















@media screen and (max-width:1440px) {

  .d-flex {
    flex-wrap: wrap;
  }

  .about {
    background-size: contain;
  }

}

@media screen and (max-width:768px) {

  .about {
    padding: 1.5rem;
  }
}

@media screen and (max-width:576px) {

  .background-layer {
    background-image: url('back-m.png');
  }

  .middle-layer {
    background-image: url('logo-main-m.png');
    background-size: 200%;
  }

  .front-layer {
    background-image: url('front-m.png');
  }

  .buttons {
    top: 70vh;
  }

  .navbar-section {
    background-color: transparent;
    padding-top: 0;
  }

  .nav-menu .nav-toggler {
    display: block;
  }

  .nav-menu ul {
    display: none;
    margin-bottom: 0 !important;
  }

  .nav-list li {
    padding: 0.5rem;
    align-self: center;
  }

  .nav-list.active {
    padding: 1rem;
    margin-top: 2.5rem;
  }

  .timeline {
    width: 100%;
    margin-left: 0;
  }

  .timer-section {
    justify-content: space-evenly;
  }

  .timer-caption {
    font-size: 20px;
  }

  .timer-box.cyber-tile {
    width: 90vw;
  }
}



/*==================================
===========WALLPAPER.HTML===========
==================================*/

.wall-banner-img {
  width: 100%;
}

.cyber-h {
  color: #fff !important;
}